-- MySQL dump 10.13  Distrib 8.4.9, for Linux (x86_64)
--
-- Host: localhost    Database: booksocial
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `booksocial`
--

/*!40000 DROP DATABASE IF EXISTS `booksocial`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `booksocial` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `booksocial`;

--
-- Table structure for table `appuser`
--

DROP TABLE IF EXISTS `appuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `email` varchar(100) NOT NULL,
  `img` varchar(500) DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `password` varchar(100) NOT NULL,
  `registration_date` date NOT NULL,
  `role` enum('ADMIN','REGISTERED','SUBSCRIBED') NOT NULL,
  `second_name` varchar(100) DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhcij6hlq32eras7xlmvbx2sbm` (`email`),
  UNIQUE KEY `UK418sr20kh207kb22viuyno1` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appuser`
--

LOCK TABLES `appuser` WRITE;
/*!40000 ALTER TABLE `appuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `appuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `author`
--

DROP TABLE IF EXISTS `author`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `author` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `birth_date` date DEFAULT NULL,
  `img` varchar(500) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `nationality` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `author`
--

LOCK TABLES `author` WRITE;
/*!40000 ALTER TABLE `author` DISABLE KEYS */;
/*!40000 ALTER TABLE `author` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `author_follow`
--

DROP TABLE IF EXISTS `author_follow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `author_follow` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `follow_date` datetime(6) NOT NULL,
  `author_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKepug5elebp48ltx6mgjiwkrhw` (`user_id`,`author_id`),
  KEY `FK8mis86cnwmk4g7psspucne21j` (`author_id`),
  CONSTRAINT `FK8mis86cnwmk4g7psspucne21j` FOREIGN KEY (`author_id`) REFERENCES `author` (`id`),
  CONSTRAINT `FKovfmef87u50y064rhd4yoak3o` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `author_follow`
--

LOCK TABLES `author_follow` WRITE;
/*!40000 ALTER TABLE `author_follow` DISABLE KEYS */;
INSERT INTO `author_follow` VALUES (1,'2026-05-09 13:00:56.315092',3,5),(3,'2026-06-02 08:18:36.772843',3,1),(6,'2026-06-02 09:07:35.364395',43,16);
/*!40000 ALTER TABLE `author_follow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chapter`
--

DROP TABLE IF EXISTS `chapter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chapter` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chapter_number` int NOT NULL,
  `title` varchar(200) DEFAULT NULL,
  `tome_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpqcgxx9h71as0oi765dvtguj5` (`chapter_number`,`tome_id`),
  KEY `FK9t8dff5wit72k271yheyjbpg6` (`tome_id`),
  CONSTRAINT `FK9t8dff5wit72k271yheyjbpg6` FOREIGN KEY (`tome_id`) REFERENCES `tome` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chapter`
--

LOCK TABLES `chapter` WRITE;
/*!40000 ALTER TABLE `chapter` DISABLE KEYS */;
/*!40000 ALTER TABLE `chapter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment`
--

DROP TABLE IF EXISTS `comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` varchar(1000) NOT NULL,
  `date` datetime(6) NOT NULL,
  `edited` bit(1) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `parent_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `work_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKde3rfu96lep00br5ov0mdieyt` (`parent_id`),
  KEY `FK3a4gmv9r52ia09sew91j80jd8` (`user_id`),
  KEY `FK4xh70pwvbm7s0j7okkdbvap39` (`work_id`),
  CONSTRAINT `FK3a4gmv9r52ia09sew91j80jd8` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`),
  CONSTRAINT `FK4xh70pwvbm7s0j7okkdbvap39` FOREIGN KEY (`work_id`) REFERENCES `work` (`id`),
  CONSTRAINT `FKde3rfu96lep00br5ov0mdieyt` FOREIGN KEY (`parent_id`) REFERENCES `comment` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment`
--

LOCK TABLES `comment` WRITE;
/*!40000 ALTER TABLE `comment` DISABLE KEYS */;
INSERT INTO `comment` VALUES (1,'Mejor obra que ha existido','2026-05-09 13:00:20.764621',_binary '\0',NULL,NULL,5,1),(2,'Toda la raz├│n','2026-05-09 13:00:30.026782',_binary '\0',NULL,1,5,1),(3,'sadasdasd','2026-05-11 10:55:38.755985',_binary '\0',NULL,2,5,1),(4,'De los mejores libors que he creado','2026-05-17 16:47:19.890150',_binary '\0',NULL,NULL,1,3),(5,'Me ha encantado esta obra, muy profunda','2026-06-02 06:57:42.557759',_binary '\0',NULL,NULL,4,6),(6,'A mi tambien me ha gustado mucho','2026-06-02 08:13:41.419461',_binary '\0',NULL,2,16,1);
/*!40000 ALTER TABLE `comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edition`
--

DROP TABLE IF EXISTS `edition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `edition_date` date DEFAULT NULL,
  `isbn` varchar(20) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `total_tomes` int DEFAULT NULL,
  `editorial_id` bigint NOT NULL,
  `work_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKfd8c62nsituvvfx3ru7ybin8q` (`isbn`),
  KEY `FKtdwd2toppd87qxl54j8k0bure` (`editorial_id`),
  KEY `FK889owc9qcj53j8peh8hbhr4l1` (`work_id`),
  CONSTRAINT `FK889owc9qcj53j8peh8hbhr4l1` FOREIGN KEY (`work_id`) REFERENCES `work` (`id`),
  CONSTRAINT `FKtdwd2toppd87qxl54j8k0bure` FOREIGN KEY (`editorial_id`) REFERENCES `editorial` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edition`
--

LOCK TABLES `edition` WRITE;
/*!40000 ALTER TABLE `edition` DISABLE KEYS */;
/*!40000 ALTER TABLE `edition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `editorial`
--

DROP TABLE IF EXISTS `editorial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `editorial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `country` varchar(100) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr1d1y5cc140y11vtr6vbtooso` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `editorial`
--

LOCK TABLES `editorial` WRITE;
/*!40000 ALTER TABLE `editorial` DISABLE KEYS */;
INSERT INTO `editorial` VALUES (1,'Espa├▒a','Minotauro'),(2,'Espa├▒a','Planeta C├│mic'),(3,'Espa├▒a','Norma Editorial'),(4,'Estados Unidos','Penguin Random House'),(5,'Estados Unidos','Tor Books'),(6,'Jap├│n','Shueisha'),(7,'Jap├│n','Kodansha'),(8,'Estados Unidos','DC Comics'),(9,'Estados Unidos','HarperCollins'),(10,'Espa├▒a','Alianza Editorial');
/*!40000 ALTER TABLE `editorial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event`
--

DROP TABLE IF EXISTS `event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `img` varchar(500) DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event`
--

LOCK TABLES `event` WRITE;
/*!40000 ALTER TABLE `event` DISABLE KEYS */;
/*!40000 ALTER TABLE `event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_line`
--

DROP TABLE IF EXISTS `order_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_line` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int NOT NULL,
  `unitary_price` double NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKk9f9t1tmkbq5w27u8rrjbxxg6` (`order_id`),
  KEY `fk_orderline_product` (`product_id`),
  CONSTRAINT `fk_orderline_product` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`),
  CONSTRAINT `FKk9f9t1tmkbq5w27u8rrjbxxg6` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_line`
--

LOCK TABLES `order_line` WRITE;
/*!40000 ALTER TABLE `order_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `total` double NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `guest_email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbuja5ke02ldaiong5iuwg1v1o` (`user_id`),
  CONSTRAINT `FKbuja5ke02ldaiong5iuwg1v1o` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `price` double NOT NULL,
  `stock` int NOT NULL,
  `edition_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrv0q2ilxma07pdnpha2r8k7xq` (`edition_id`),
  CONSTRAINT `FKrv0q2ilxma07pdnpha2r8k7xq` FOREIGN KEY (`edition_id`) REFERENCES `edition` (`id`),
  CONSTRAINT `product_chk_1` CHECK ((`stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reaction`
--

DROP TABLE IF EXISTS `reaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reaction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `comment_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKq22wutbp9jupnpfls6gb0ksu1` (`user_id`,`comment_id`),
  KEY `FKskbqddo2ffvogxr3f22awp2wa` (`comment_id`),
  CONSTRAINT `FKskbqddo2ffvogxr3f22awp2wa` FOREIGN KEY (`comment_id`) REFERENCES `comment` (`id`),
  CONSTRAINT `FKsloo7e7m5nvsw9uey0ltqk5ip` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reaction`
--

LOCK TABLES `reaction` WRITE;
/*!40000 ALTER TABLE `reaction` DISABLE KEYS */;
INSERT INTO `reaction` VALUES (1,'2026-05-11 10:55:30.009634',1,5),(2,'2026-05-11 10:55:40.602285',2,5),(3,'2026-05-17 16:47:26.518202',4,1);
/*!40000 ALTER TABLE `reaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription`
--

DROP TABLE IF EXISTS `subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `activated` bit(1) NOT NULL,
  `end_date` date NOT NULL,
  `start_date` date NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKtq3cq3gmsss8jjyb2l5sb1o6k` (`user_id`),
  CONSTRAINT `FK3whgodb40d4j2ptwmo54wjxs9` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription`
--

LOCK TABLES `subscription` WRITE;
/*!40000 ALTER TABLE `subscription` DISABLE KEYS */;
INSERT INTO `subscription` VALUES (1,_binary '','2026-06-26','2026-05-27',3),(4,_binary '','2026-06-10','2026-05-11',5),(5,_binary '\0','2026-06-29','2026-05-30',7),(6,_binary '','2026-07-01','2026-06-01',4),(7,_binary '','2026-07-02','2026-06-02',16);
/*!40000 ALTER TABLE `subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tome`
--

DROP TABLE IF EXISTS `tome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tome` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `number_tome` int NOT NULL,
  `title` varchar(150) DEFAULT NULL,
  `edition_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfg75je05rixielbm8gbala94c` (`edition_id`),
  CONSTRAINT `FKfg75je05rixielbm8gbala94c` FOREIGN KEY (`edition_id`) REFERENCES `edition` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tome`
--

LOCK TABLES `tome` WRITE;
/*!40000 ALTER TABLE `tome` DISABLE KEYS */;
/*!40000 ALTER TABLE `tome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_order`
--

DROP TABLE IF EXISTS `tracking_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `status` enum('CANCELED','DELIVERED','IN_TRANSIT','PREPARING','SHIPPED') NOT NULL,
  `order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK69dey56s1osh9r9rbf1rwi1tl` (`order_id`),
  CONSTRAINT `FK69dey56s1osh9r9rbf1rwi1tl` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_order`
--

LOCK TABLES `tracking_order` WRITE;
/*!40000 ALTER TABLE `tracking_order` DISABLE KEYS */;
INSERT INTO `tracking_order` VALUES (1,'2026-05-09 18:08:49.944782','SHIPPED',6),(2,'2026-05-10 12:16:37.282296','SHIPPED',9),(3,'2026-05-10 12:21:16.996326','IN_TRANSIT',8),(4,'2026-05-10 12:21:22.279379','PREPARING',7),(5,'2026-05-10 12:21:27.355535','SHIPPED',14),(6,'2026-05-26 12:57:01.999105','IN_TRANSIT',9),(7,'2026-06-02 07:05:02.563415','IN_TRANSIT',6);
/*!40000 ALTER TABLE `tracking_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_work`
--

DROP TABLE IF EXISTS `tracking_work`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_work` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `status` enum('COMPLETED','DROPPED','PENDING','READING') NOT NULL,
  `user_id` bigint NOT NULL,
  `work_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcewh3i11hjksiqs12ra90an82` (`user_id`),
  KEY `FKcdj7tocgi9eaxgvvvpkh008ps` (`work_id`),
  CONSTRAINT `FKcdj7tocgi9eaxgvvvpkh008ps` FOREIGN KEY (`work_id`) REFERENCES `work` (`id`),
  CONSTRAINT `FKcewh3i11hjksiqs12ra90an82` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_work`
--

LOCK TABLES `tracking_work` WRITE;
/*!40000 ALTER TABLE `tracking_work` DISABLE KEYS */;
INSERT INTO `tracking_work` VALUES (1,'2026-05-08 14:07:32.197318','COMPLETED',1,1),(2,'2026-05-09 12:58:54.635172','READING',3,1),(4,'2026-05-11 10:47:35.358790','COMPLETED',5,1),(5,'2026-05-11 10:47:41.553860','PENDING',5,11),(7,'2026-06-01 14:14:07.839964','PENDING',11,1),(8,'2026-06-02 08:13:56.682849','PENDING',16,1);
/*!40000 ALTER TABLE `tracking_work` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_event`
--

DROP TABLE IF EXISTS `user_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_event` (
  `event_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  KEY `FKeq3c1cm3ihr2tm7pk0jft3fa3` (`user_id`),
  KEY `FKspe8srtv69gubpphvrnd7wekt` (`event_id`),
  CONSTRAINT `FKeq3c1cm3ihr2tm7pk0jft3fa3` FOREIGN KEY (`user_id`) REFERENCES `appuser` (`id`),
  CONSTRAINT `FKspe8srtv69gubpphvrnd7wekt` FOREIGN KEY (`event_id`) REFERENCES `event` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_event`
--

LOCK TABLES `user_event` WRITE;
/*!40000 ALTER TABLE `user_event` DISABLE KEYS */;
INSERT INTO `user_event` VALUES (5,1),(4,1),(3,1),(1,1),(1,3),(1,5),(2,5),(2,16);
/*!40000 ALTER TABLE `user_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_follow`
--

DROP TABLE IF EXISTS `user_follow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_follow` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `follow_date` datetime(6) DEFAULT NULL,
  `follower_id` bigint NOT NULL,
  `following_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKp8vhuhxu2u1fm8qg7hvn4y1gs` (`follower_id`,`following_id`),
  KEY `FK7untmdjmvkxa9r7ssmd0cvv14` (`following_id`),
  CONSTRAINT `FK3tt59fa13ma207q27n28029wm` FOREIGN KEY (`follower_id`) REFERENCES `appuser` (`id`),
  CONSTRAINT `FK7untmdjmvkxa9r7ssmd0cvv14` FOREIGN KEY (`following_id`) REFERENCES `appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_follow`
--

LOCK TABLES `user_follow` WRITE;
/*!40000 ALTER TABLE `user_follow` DISABLE KEYS */;
INSERT INTO `user_follow` VALUES (1,'2026-05-09 13:00:52.761561',5,3),(2,'2026-05-09 13:00:53.456871',5,7),(3,'2026-05-09 17:50:39.730486',3,2),(4,'2026-05-09 17:50:40.738046',3,4),(5,'2026-05-11 11:11:48.497967',5,2),(6,'2026-05-11 11:11:49.763393',5,8),(8,'2026-06-02 08:15:27.997862',16,2);
/*!40000 ALTER TABLE `user_follow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volume`
--

DROP TABLE IF EXISTS `volume`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volume` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) DEFAULT NULL,
  `volume_number` int NOT NULL,
  `edition_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcgug82vgmlgy5wwi92d25wu7x` (`edition_id`),
  CONSTRAINT `FKcgug82vgmlgy5wwi92d25wu7x` FOREIGN KEY (`edition_id`) REFERENCES `edition` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volume`
--

LOCK TABLES `volume` WRITE;
/*!40000 ALTER TABLE `volume` DISABLE KEYS */;
/*!40000 ALTER TABLE `volume` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work`
--

DROP TABLE IF EXISTS `work`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `average_rating` double DEFAULT NULL,
  `demographic` enum('JOSEI','KODOMO','SEINEN','SHOJO','SHONEN') DEFAULT NULL,
  `description` varchar(2000) DEFAULT NULL,
  `genre` enum('ACTION','ADVENTURE','BIOGRAPHY','COMEDY','CRIME','CYBERPUNK','DARK_FANTASY','DRAMA','ECCHI','FANTASY','HAREM','HISTORICAL','HORROR','ISEKAI','MARTIAL_ARTS','MECHA','MYSTERY','PHILOSOPHICAL','POST_APOCALYPTIC','PSYCHOLOGICAL','ROMANCE','SCHOOL','SCIENCE_FICTION','SLICE_OF_LIFE','SPORTS','SUPERHERO','SUPERNATURAL','SUSPENSE','THRILLER','TRAGEDY','WAR') NOT NULL,
  `img` varchar(500) DEFAULT NULL,
  `publication_date` date DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `type` enum('BOOK','COMIC','MANGA') NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `work_chk_1` CHECK (((`average_rating` >= 0) and (`average_rating` <= 10)))
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work`
--

LOCK TABLES `work` WRITE;
/*!40000 ALTER TABLE `work` DISABLE KEYS */;
/*!40000 ALTER TABLE `work` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_author`
--

DROP TABLE IF EXISTS `work_author`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_author` (
  `work_id` bigint NOT NULL,
  `author_id` bigint NOT NULL,
  KEY `FK8ul39e54qt52so7wdvhgdk76u` (`author_id`),
  KEY `FKcc7c30i65h1bgoy2gdk253dk8` (`work_id`),
  CONSTRAINT `FK8ul39e54qt52so7wdvhgdk76u` FOREIGN KEY (`author_id`) REFERENCES `author` (`id`),
  CONSTRAINT `FKcc7c30i65h1bgoy2gdk253dk8` FOREIGN KEY (`work_id`) REFERENCES `work` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_author`
--

LOCK TABLES `work_author` WRITE;
/*!40000 ALTER TABLE `work_author` DISABLE KEYS */;
INSERT INTO `work_author` VALUES (4,3),(5,4),(6,4),(7,5),(8,5),(11,7),(12,7),(12,31),(13,8),(14,8),(15,9),(16,9),(19,11),(20,11),(21,12),(22,12),(23,13),(24,13),(25,14),(26,14),(27,15),(28,15),(29,16),(30,16),(31,17),(32,17),(33,18),(34,18),(35,19),(36,19),(37,20),(40,21),(39,21),(41,22),(42,22),(43,23),(44,23),(45,24),(46,24),(47,25),(48,25),(49,26),(50,26),(51,27),(52,27),(53,28),(54,28),(55,29),(56,29),(57,30),(58,30),(1,2),(2,2),(2,10),(3,3),(3,6),(62,3),(65,43);
/*!40000 ALTER TABLE `work_author` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'booksocial'
--

--
-- Dumping routines for database 'booksocial'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-03 11:13:20
